:root{
  --color-primary: #ff7900;
} 

* {  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {  
  font-family: Arial, Helvetica, sans-serif; 
 /* background-color:#868686;*/  
  background-position: center;
  background-image: url('ondas.svg');
  background-size: 100%;
  margin: 0;
  margin: 10px;
  margin-bottom: 40px;
}


h1 {
  color:white;
  margin-bottom: 5px;
  text-align: center;
  background-color: var(--color-primary);
}

h3 {
  text-align: center;
  color:white;
  padding-bottom: 30px;
  margin-bottom: 0px;  
  background-color: var(--color-primary);
  margin-top: -5px;
}

.title{
  font-size: 25px;
  text-align: left;
  color:var(--color-primary);
}

.title--border::after{
  content: "";
  display: block;
  width: 100%;
  margin-top: 5px;
  height: 4px;
  background-color: var(--color-primary);
}

.parrafo_card {
  text-align: justify;
}

.resaltado {
  font-weight: 200;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

/* Estilo del encabezado */
.header {
  padding-top: 20px;
  margin-left: 20px;
  margin-bottom: -10px;
  display:-webkit-inline-box;
  width: 100%;
}

.nombre{
  background-color: var(--color-primary);
  width: 300px;    
}

.menues {  
  width: calc(100% - 300px);
  position: absolute;
  right: 0px;
  text-align: right;
  border-bottom: solid 5px var(--color-primary);
  margin-right: 30px;
}

/* Create 3 columnas*/
.column1  {
  text-align:center;
  float: left;
  width: 300px;
  padding: 10px;
  background-color:#868686;
  height: 100%;
  box-shadow: 0px 50px 150px 0px rgb(0 0 0 / 75%);
  -webkit-box-shadow: 21px 0px 8px -14px rgba(0,0,0,0.54);
  -moz-box-shadow: 21px 0px 8px -14px rgba(0,0,0,0.54);
  margin-top: -10px;
  position: relative;
}

.column2 {
  float: left;
  width: calc(100% - 380px);
  backdrop-filter: blur(10px) saturate(1.1);
  border-radius: 10px;    
  opacity: 0.7;
  border: 2px solid #f1f1f1;
  height: calc(100% - 40px);
  padding: 20px;
  margin: 20px;
  background-color:white;
  box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
  margin-left: 30px;  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {    
  text-align: center;
  margin-top: -25px;
}

.footer__linea {
  margin-top: -25px;
  background-color: var(--color-primary);
  color: transparent;
  margin-left: 20px;
  width: 300px;
}

.separador {
  background-color: transparent;
  color: transparent;
  width: 100%;    
  margin-left: 0px;
  height: 0px;
}

.foto{  
  width: 305px;
  height: 300px;
  margin-top: 20px;
  border-radius: 5%;
  object-fit: cover;
  object-position: top;
  margin-right: 10px;
  border: solid 5px var(--color-primary);
  -webkit-box-shadow: 21px 21px 31px -14px rgba(0,0,0,0.54);
  -moz-box-shadow: 21px 21px 31px -14px rgba(0,0,0,0.54);
  box-shadow: 21px 21px 31px -14px rgba(0,0,0,0.54);
}

.acerca__de__mi{
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
  border-bottom: 5px solid var(--color-primary);
  padding-bottom: 5px;
}

.parrafo{
  text-align: justify;
  line-height: 1.5;
  font-style: italic;
  color: white;
}

footer {  
  background-color: transparent;
  text-align: center;
  margin-bottom: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

.button {
  background-color: #e7e7e7; 
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.6s;
  width: 170px;
}

.button1:hover {
  background-color: var(--color-primary);
  color: white;
}

.button__seleccionado {
  background-color: var(--color-primary);
  color: white;
}

.card__visible {
  display: block;
}

.card__invisible {
  display: none;
}

.mini__menu {
  display: none;
  position: absolute; 
  right: 30px;
  cursor: pointer;
  transition-duration: 0.6s;
  background-color: var(--color-primary);
  fill: #e7e7e7;
  margin-top: 35px;
  margin-right: -25px;
}

.mini__menu:hover {
  fill: var(--color-primary);
}

.dropbtn {
  /*background-color: #4CAF50;*/
  color: e7e7e7;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {  
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 50px;
  margin-right: 40px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; 
}

.dropdown-content a:hover {
  background-color: var(--color-primary);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.iconos {
  position: relative;  
  float: left;
  font-size: 20px;
  color: #868686;
}

.texto__icono {
  margin-left: 30px;
}

.fechaExperiencia {
  width: 15%;
  /*margin-top: -10px;*/
  float: left;  
}

.textoExperiencia {
  float: right;
  width: 80%;
} 

.seccion__experiencia{
  height: 20%;
  display:flex;
}

.titulo__experiencia {
  font-weight: 400px;  
  font-weight: 900;
  margin-bottom: 0px;
  margin-top: 0px;
  color: var(--color-primary);
  text-align: left;
}

.detalle__experiencia{
  margin-top: 5px;
}
.fechas__small{
  display: none;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media (max-width: 1100px) {
  .mini__menu {
    display: block;
  }

  .menues {  
    display: none;
  } 

  .header {
    padding-top: 15px;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: -10px;
    box-shadow: 0px 50px 150px 0px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 21px 21px 8px -14px rgb(0 0 0 / 54%);
  }

  .nombre {
    background-color: var(--color-primary);
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  h1 {
    color: white;
    margin-bottom: 5px;
    padding-top: 20px;
    text-align: center;
    background-color: var(--color-primary);
  }

  h3 {
    margin-bottom: 30px;
  }

  .column1 {
    text-align: center;
    padding: 25px;
    background-color: #868686;    
    box-shadow: 0px 50px 150px 0px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 21px 0px 8px -14px rgb(0 0 0 / 54%);
    -moz-box-shadow: 21px 0px 8px -14px rgba(0,0,0,0.54);
    margin-top: 0px;
    position: relative;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }

  .column2 {
    width: 100%;
    margin-left: 0px;
  }

  .foto {
    width: 250px;
    height: 250px;    
    border-radius: 20%;
    object-fit: cover;
    object-position: top;
    margin-right: 10px;
    border: solid 10px var(--color-primary);    
    -moz-box-shadow: 21px 21px 31px -14px rgba(0,0,0,0.54);
    box-shadow: 21px 21px 31px -14px rgb(0 0 0 / 54%);
    margin-top: -75px;
  }

  .acerca__de__mi {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    border-bottom: 5px solid var(--color-primary);
    padding-bottom: 5px;
  }

  footer {
    background-color: transparent;
    text-align: center;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }

  .footer__linea {
    margin-top: -25px;
    background-color: var(--color-primary);
    color: transparent;
    width: 100%;    
    margin-left: 0px;
    height: 5px;
  }  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .title {
    font-size: 20px;
  }  
}

@media (max-width: 700px) {
  .fechaExperiencia {
    display: none;
  }

  .fechas__small {
    display: block;
    margin-bottom: 5px;
  }

  .textoExperiencia {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .resaltado {
    font-size: 16px;
  }

  .dropdown {
    right: -20px;
  } 
}